/* Write your CSS here */
.header-container {
  height: 70px;
  width: 95%;
  background-color: #e2e8f0;
  text-align: center;
  color: #64748b;
  margin-left: 20px;
}
.heading- {
  padding-top: 10px;
  color: #64748b;
}
